
<div ng-app="tickerly2" ng-controller="AdminCtrl">
<section style="padding: 20px;">
    <h1>Admin</h1>
    <a class="btn btn-primary" ng-click="goCrime()">Crime <%= @crimes %></a>
    <a class="btn btn-success" ng-click="goStore()">Store <%= @stores %></a>
</section>

</div>

